.comments{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-section{
        position: relative;
    }

    &-blocks{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    &-title{
        font-family: 'Amatic SC', 'Bradley Hand', serif;
        color: #fff;
        margin-bottom: 2em;
        font-size: 4em;
        font-weight: bold;
        text-shadow: 0 0 5px black;
    }
}

.wrapper{
    position: relative;
}

.oneBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1em 1em ;
    height: 300px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    position: relative;
    backface-visibility: hidden;
    transition: transform 2.5s ease;

    &-name{
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
    }

    &-comment{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
        text-align: justify;
        font-size: 1.3em;
        font-style: italic;
    }
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}