.product{
    min-height: 100vh;
    width: 100%;

    &-parallax{
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-parallax-bgimg{
        min-height: 100vh; 
        min-width: 100vw;
    }

    &-items{
        width: 75%;
        margin: auto;
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    &-text{
        font-family: 'Amatic SC', 'Nunito', sans-serif;
        position: relative;
        top: 70px;
        text-align: center;
        font-size: 4em;
        color: #fff;
        font-weight: bold;
        text-shadow: 0 0 10px black;
        margin-bottom: 1em;
        z-index: 1;
    }

    &-images{
        text-align: center;
    }

    &-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
        padding: 0;
        z-index: 1;
        margin: 1em auto;
    }

    &-image{
        // margin: auto 0;
        height: 200px;
        width: 200px;
        object-fit: contain;
    
        &-title{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5em;
            background-color: wheat;
            padding: .5em;
            width: 90%;
            margin-top: 1.5em;
            border-radius: 10px;
            box-shadow: 0 0 10px black;
            text-align: center;
        }
    }

    &-block:hover{
        filter: drop-shadow(0 0 5px black)
    }
}

.order-button-main{
    z-index: 100;
    box-shadow: 0 0 5px black !important;
    background-color: rgba(128, 191, 34, 0.9) !important;
    color: #fff !important;
    margin-top: 1em !important;
}

.order-button{
    margin-top: none !important;
    box-shadow: none !important;
    background-color: rgba(128, 191, 34) !important;
}

.ui.modal>.image.content{
    align-items: center;
}

.ui.modal>.actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ui.header{
    position: relative;
    top: 0;
    display: inline-block;
    text-align: left;
}

.ui.modal>.content>.image{
    width: 150px;
    // max-height: 180px;
}

.ui.dimmer{
    background-color: rgba(255, 255, 255, 0.726);
}

.mobile{
    display: none;
}

.modal{

    &-container{
        display: flex;
        align-items: flex-end;
        max-height: 500px;
        overflow-y: scroll;
    }

    &-content{
        border-bottom: 1px solid lightgrey;
        min-height: 200px;
    }

    &-footer-text{
        width: 50%;
        text-align: left;
        padding-left: 1em;
    }
}

.price{
    font-weight: bold;
    margin-top: 1em;
}

.recipeCards{
    height: 100vh;
    width: 100%;
    background-image: url('../../../assets/champs.jpg');
    background-size: cover;


    &-container{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 2em;
    }

    &-list{
        width: 50%;
        background-color: rgba(255, 255, 255, 0.5);
        text-align: center;
        margin-right: 5em;
    }

    &-item{
        width: 70%;
        margin: .5em auto;
        font-size: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-link, &-back{
        font-family: 'Amatic SC', 'Nunito', sans-serif;
        color: black;
        font-size: 1.5em;
    }

    &-link:hover{
        color: black;
        font-style: italic;
    }

    &-back:hover{
        color: black;
        text-shadow: 0 0 1px grey;
    }

    &-back{
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: bold;
        font-size: 2em;
    }
}



@media (max-width: 488px){
    .product{
        &-images-mobile{
            background-image: url('../../../assets/champs2.png');
            background-size: cover;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    
        &-items{
            width: 90%;
            align-items: baseline;
            padding-top: 1.5em;
        }
    
        &-text{
            position: relative;
            top: 10%;
            font-size: 2.3em;
            margin-bottom: 0;
        }
    
        &-block{
            width: 30%;
            margin: 0 auto;
            padding-top: 2em;
            align-items: flex-end;
        }
    
        &-image{
            object-fit: contain;
            height: auto;
            width: 80%;
            margin: auto;
            filter: drop-shadow(0 0 5px white);
            
            &-title{
                position: relative;
                top: 0px;
                font-size: 1em;
                padding: .3em;
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 2em;
            }
        }
    }

    .modal{
        &-container{
            padding-bottom: 1em;
        }

        &-footer-text{
            width: 90%;
            margin: auto;
            text-align: center;
            margin-bottom: 1em;
        }
    }

    .buttons{
        text-align: center;
        margin-bottom: 0 i !important;
    }

    .order-button{
        margin-bottom: 1em !important;
    }

    .ui.modal > .content > .image{
        height: 130px;
        width: 150px;
    }
    .ui.modal > .image.content{
        min-height: auto;
        flex-direction: row;
    }

    .ui.modal>.content>.icon+.description, .ui.modal>.content>.image+.description{        margin-left: 1em;
        margin-left: 1em !important;
    }

    .ui.modal > .actions{
        display: unset;
    }
}


@media(max-width: 1450px){
    // .product-image{
    //     height: 400px;

    //     &-title{
    //         max-width: 400px;
    //         font-size: 3.2em;
    //     }
    // }
}