.product{
    min-height: 100vh;

    &-parallax{
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-parallax-bgimg{
        width: 100vw;
    }
    
    &-images{
        width: 100%;
        height: 100%;
        // max-width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-items{
        width: 70%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &-text{
        font-family: 'Amatic SC', 'Nunito', sans-serif;
        position: relative;
        top: 50px;
        text-align: center;
        font-size: 4em;
        color: #fff;
        font-weight: bold;
        text-shadow: 0 0 10px black;
        margin-bottom: 1em;
        z-index: 1;
    }

    &-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33%;
        // background-color: pink;
        // border: 1px solid red;
        // max-height: 550px;
        // margin: 0;
        z-index: 1;
    }

    &-image{
        margin: auto 0;
        height: 400px;
        width: auto;
    
        &-title{
            position: relative;
            top: -80px;
            font-size: 3em;
            background-color: wheat;
            padding: .6em 1.3em;
            max-width: 380px;
            max-height: 200px;
            border-radius: 10px;
            box-shadow: 0 0 10px black;
            text-align: center;
        }
    }

    &-block:hover{
        filter: drop-shadow(0 0 5px black)
    }
}

.ui.modal>.image.content{
    align-items: center;
}

.ui.header{
    position: relative;
    top: 0;
    display: inline-block;
    text-align: left;
}

.ui.modal>.content>.image{
    width: 150px;
}

.ui.dimmer{
    background-color: rgba(255, 255, 255, 0.726);
}

.mobile{
    display: none;
}

@media (max-width: 488px){
    .product-images-mobile{
        background-image: url('../../../assets/champs2.png');
        background-size: cover;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .product-items{
        width: 90%;
    }

    .product-text{
        position: relative;
        top: 10%;
        font-size: 2.3em;
        margin-bottom: 0;
    }

    .product-block{
        width: 30%;
        margin: 0 auto;
        padding-top: 2em;
        align-items: flex-end;
    }

    .product-image{
        height: auto;
        width: 100%;
        filter: drop-shadow(0 0 5px white);
        
        &-title{
            position: relative;
            top: 0px;
            font-size: 1em;
            padding: .3em;
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2em;
        }
    }
}

@media(max-width: 1450px){
    // .product-image{
    //     height: 400px;

    //     &-title{
    //         max-width: 400px;
    //         font-size: 3.2em;
    //     }
    // }
}