*{
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #71680d;
}

section{
    width: 100%;
    position: relative;
}

.header{
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &-logo{
        z-index: 2;
    }

    &-top{
        display: flex;
        align-items: center;
        position: relative;
        top: -40px;
    }

    &-title-logo{
        position: relative;
        top: -20px;
        width: 400px;
        height: auto;
        filter: drop-shadow(0 0 1px rgb(255, 255, 255));
    }

    &-title{
        font-style: italic;
        font-weight: bold;
        font-size: 4.5em;
        color: #3f3f3f;
        text-shadow: 0 0 2px #fff;
    }
    
    &-subtext{
        position: relative;
        top: -85px;
        color: #3f3f3f;
        text-shadow: 0 0 2px #fff;
        font-size: 26px;
        width: 285px;
        font-style: italic;
        font-weight: bold;
    }

    &-subtitle{
        // margin-top: 100px;
        font-style: italic;
        font-weight: bold;
        color: #fff;
        font-size: 2em;
        text-shadow: 0 0 5px black;
        z-index: 4;
    }

    &-arrows{
        margin-top: 30px;
        color: #fff;
        filter:drop-shadow(0 0 5px black);
        animation: floating 2s ease-in-out infinite;
        z-index: 4;
    }
    
        @keyframes floating {
            0% {
                transform: translatey(0px) rotate(90deg);
            }
            50% {
                transform: translatey(15px) rotate(90deg);
            }
            100% {
                transform: translatey(0px) rotate(90deg);
            }
        }

    &-shadow{
        position: absolute;
        height: 300px;
        width: 100%;
        bottom: 100%;
        left: 0;
        background: linear-gradient(to top, #71680d, transparent); 
        z-index: 4;
    }
}


.header-bg-sky{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: left;
}

.header-bg-town{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3; // A VOIR
}

.header-bg-field{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}


