header{
    height: 100vh;
    background-color: #151515;
    z-index: -3;
}

.header{
    position: absolute;
    top: 30%;
    left: 0;
    z-index: 20;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &-top{
        display: flex;
        align-items: center;
        position: relative;
        top: -40px;
    }

    &-title-logo{
        position: relative;
        top: -20px;
        width: 400px;
        height: auto;
        filter: drop-shadow(0 0 1px rgb(255, 255, 255));
    }

    &-title{
        font-style: italic;
        font-weight: bold;
        font-size: 4.5em;
        color: #3f3f3f;
        text-shadow: 0 0 2px #fff;
    }
    
    &-subtext{
        position: relative;
        top: -85px;
        color: #3f3f3f;
        text-shadow: 0 0 2px #fff;
        font-size: 26px;
        width: 285px;
        font-style: italic;
        font-weight: bold;
    }

    &-subtitle{
        margin-top: 10%;
        font-style: italic;
        font-weight: bold;
        color: #fff;
        font-size: 2em;
        text-shadow: 0 0 5px black;
    }

    &-arrows{
        margin-top: 30px;
        color: #fff;
        filter:drop-shadow(0 0 5px black);
        animation: floating 2s ease-in-out infinite;
    }
    
        @keyframes floating {
            0% {
                transform: translatey(0px) rotate(90deg);
            }
            50% {
                transform: translatey(15px) rotate(90deg);
            }
            100% {
                transform: translatey(0px) rotate(90deg);
            }
        }

    &-shadow{
        position: absolute;
        height: 300px;
        width: 100%;
        bottom: 100%;
        left: 0;
        z-index: 10;
        background: linear-gradient(to top, #151515, transparent); 
    }
}