.contact{
    height: 100vh;
    width: 100%;
    background: url('../../../assets/olives.png');

    &-div{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &-title{
        text-align: center;
        font-size: 3.5em;
    }

    &-details{
        margin-top: 2em;
        left: 12px;
        text-align: center;
        font-size: 2.5em;
    }

    &-email{
        color: #04613f;
        text-shadow: 0 0 10px #068c5b;
    }

    &-email:hover{
        color: #04613f;
        text-shadow: 2px 2px 5px #024d31;
    }

    &-tel{
        font-size: .9em;
    }

    &-image{
        margin-top: 2em;
        width: 150px;
        text-align: center;
        filter: drop-shadow(0 0 3px black);
    }

    &-image:hover{
        filter: drop-shadow(0 0 5px black);
    }
}