.about{
    min-height: 100vh;
    width: 100%;
    background: url('../../assets/olives.png') no-repeat;
    background-size: cover;

    &-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 100px 0;
    }

    &-photos{
        background-color: rgba(255, 255, 255, 0.9);
        width: 260px;
        height: 260px;
        border: 1px solid black;
        box-shadow: 0 0 2px black;
    }

    &-photo{
        width: 260px;
        height: 260px;
        object-fit: cover;
    }

    &-photos:hover{
        box-shadow: 0 0 6px black;
    }

    &-photos:hover{
        transition: transform 1s;
        transform: scale(1.3);
        z-index: 2;
    }  

    &-text{
        text-align: center;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -10;
    }
}
