.main{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 99;
    position: relative;
   

    &-presentation-block{
        // box-shadow: 0 0 10px black;
        height: auto;
        width: 24%;   
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: url('../../../assets/champs.jpg') no-repeat;
        background-size: cover; 
    }
    
    &-presentation-picture{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &-presentation-description{
        padding: .3em 0;
        text-align: justify;
        font-style: italic;
        text-shadow: 0 0 2px white;
        font-size: 1.4em; // A REVOIR POUR LES MEDIA QUERIES
    }
    
    &-presentation-description span{
        font-weight: bold;
    }

} 

.blocks-container{
    display: flex;
    justify-content: center;
}

.text-block{
    padding: 1em 1.6em;
    overflow: hidden;
}



@media (max-width: 1450px){
    .main-presentation-block{
        height: 550px;
    }

    .main-presentation-description{
        font-size: 1.25em;
    }

}