.main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 99;
    position: relative;
   
    &-blocks-container{
        width: 80%;
        margin: 2em auto;
        display: flex;
        flex-direction: column;
    }

    &-blocks-pictures{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &-blocks-text{
        width: 80%;
        margin: 1em auto 0;
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em 6em;
        overflow: hidden;
        box-shadow: 0 0 5px black;
    }

    &-presentation-block{
        flex: 1;
        margin: auto .3em;
    }

    &-presentation-block img{
        box-shadow: 0 0 5px black;
    }
    
    &-presentation-picture{
        height: 500px;
        width: 100%;
        object-fit: cover;
    }

    &-presentation-description{
        padding: .3em 0;
        text-align: center;
        font-style: italic;
        font-size: 1.4em; 
    }
    
    &-presentation-description span{
        font-weight: bold;
    }

} 

@media (max-width: 1450px){
    // .main-presentation-block{
    //     height: 550px;
    // }

    // .main-presentation-description{
    //     font-size: 1.25em;
    // }

}