.main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 99;
    position: relative;
   
    &-blocks-container{
        width: 90%;
        margin: 2em auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &-blocks-pictures{
        width: 100%;
        display: flex;
        justify-content: center;
    }


    &-blocks-text{
        width: 90%;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.7);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em 3em;
        overflow: hidden;
        box-shadow: 0 0 5px black;
    }

    &-presentation-block{
        flex: 1;
    }
    
    &-presentation-picture{
        height: 500px;
        width: 100%;
        object-fit: cover;
    }

    &-presentation-description{
        padding: .3em 0;
        text-align: justify;
        font-style: italic;
        text-shadow: 0 0 2px white;
        font-size: 1.4em; 
    }
    
    &-presentation-description span{
        font-weight: bold;
    }

} 

@media (max-width: 1450px){
    // .main-presentation-block{
    //     height: 550px;
    // }

    // .main-presentation-description{
    //     font-size: 1.25em;
    // }

}