.stock{
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: flex-end;

    &-container{
        height: 85%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        padding: 1em;
        text-align: center;
    }

    &-title{
        font-weight: bold;
        font-size: 1.5em;
        margin: 1em auto;
    }

    &-search{
        margin: auto;
    }

    &-message{
        margin-top: .5em;
        font-weight: bold;
        color: red;
        text-align: center;
        text-transform: uppercase;
    }

    &-full-wrapper{
        width: 90%;
        margin: 1.5em auto;
        box-shadow: 0 0 3px black;
    }

    &-header-titles{
        padding-right: .6em;
    }

    &-row, &-header-titles{
        margin: auto;
        background-color: rgb(238, 236, 236);
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-columns: 1fr 150px 150px 150px 200px;
        grid-auto-rows: 70px;
        align-items: center;
        text-align: center; 
    }

    &-header-titles{
        font-weight: bolder;
        margin: 0 auto;
    }

    &-items-list{
        box-sizing: border-box;
        width: 100%;
        max-height: 350px;
        overflow-y: auto;
    }

    &-header-item{
        padding: 27px;
    }

    &-item{
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px dotted lightgrey;

        &-first{
            flex-direction: column;
        }
    }

    &-input{
        width: 80px;
        border: none;
        background-color: transparent;
        text-align: center;

        &-first{
            width: 100%;
        }
    }

    &-stock-title{
        font-weight: bold;
    }
}

.stock .ui.teal.button{
    margin: auto;
}

.ui .icon input .stock-search{
    margin: 0 auto;
}

// .stock-input::-webkit-outer-spin-button,
// .stock-input::-webkit-inner-spin-button {
//    -webkit-appearance: none;
//    margin: 0;
// }