.stock{
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: flex-end;

    &-container{
        height: 80%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em;
    }

    &-title{
        font-weight: bold;
        font-size: 1.5em;
        margin: 1em auto;
    }

    &-message{
        font-weight: bold;
        color: red;
        text-align: center;
        text-transform: uppercase;
        font-family: Arial, serif;
    }

    &-full-wrapper{
        width: 90%;
        margin: auto;
        box-shadow: 0 0 3px black;

    }

    &-row, &-header-titles{
        margin: auto;
        background-color: rgb(238, 236, 236);
        // border: 1px solid grey;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-columns: 1fr 150px 150px 150px 200px;
        grid-auto-rows: 70px;
        align-items: center;
        text-align: center; 
    }

    &-header-titles{
        font-weight: bolder;
        margin: 0 auto;
    }

    &-items-list{
        box-sizing: border-box;
        width: 101%;
        height: 350px;
        overflow-y: scroll;
    }

    &-header-item{
        padding: 27px;
    }

    &-item{
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px dotted lightgrey;
    }

    &-input{
        width: 80px;
        border: none;
        background-color: transparent;
        text-align: center;
    }

    &-stock-title{
        font-weight: bold;
    }
}

.stock .ui.teal.button{
    margin: auto;
}

// .stock-input::-webkit-outer-spin-button,
// .stock-input::-webkit-inner-spin-button {
//    -webkit-appearance: none;
//    margin: 0;
// }