.home{
    font-family: 'Nunito';
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: column;
}

.navigation-list .active{
    background: linear-gradient(to bottom, rgba(4, 121, 41, 0.632), transparent );
    text-shadow: 0 0 1px lightgrey;
}