.list-products{
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 110px 1em 1em; 
}

.product{
    &-wrapper{
        height: 100%;
        width: 100%;
       display: flex; 
       flex-wrap: wrap;
       justify-content: center;
    }

    &-search{
        margin: 1em;
        z-index: 11;
    }

    &-container{
        background-color: white;
        box-shadow: 0 0 2px black;
        height: 270px;
        width: 200px;
        padding: .5em;
        margin: .5em .3em;
        display:flex;
        flex-direction: column;
    }

    &-image{
        max-width: 100%;
        max-height: 150px;
    }

    &-title{
        font-weight: bold;
        text-transform: uppercase;
        padding-top: 1em;
        margin-bottom: .4em;
        text-align: center;
    }

    &-description{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: .4em;
    }
}

.oneproduct{
    &-container{
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        height: 84%;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 1em;
    }

    &-image{
        display: block;
        height: 250px;
        width: auto;
    }

    &-title{
        text-transform: uppercase;
        font-weight: bold;
    }

    &-price{
        font-weight: bold;
    }

    &-buttons{
        width: 30%;
        display: flex;
        justify-content: space-between;
    }
}